.match .stat {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;
}

body {
    /* background-image: url('/static/img/bkg.jpg'); */
    /* background-repeat: no-repeat; */
}

