.match .stat {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;
}

body {
    background-image: url('/static/img/green.png');
    /* background-repeat: no-repeat; */
}


#footer {
    background: top #000000;
    color: #FFFFFF;
    font-size: 85%;
    padding: 30px 0 50px;
    text-align: center;
    /* width: 100%; */
    border-top: 1px solid #000;
    position: relative;
    margin-top: -116px; /* negative value of footer height */
    height: 35px;
    clear:both;
}

#footer ul li {
    display: inline;
    padding-right: 1.5em;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

.container {
    overflow:auto;
    padding-bottom: 230px; /* must be same height as the footer */ /* this still isn't right, check the 404 page */
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFFFFF;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}
