                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Match</th>
                            <th>Date</th>
                            <th>Home</th>
                            <th>Away</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in matches %}
                        {% url match_detail pk=match.match_id as match_url %}
                        {% url team_detail pk=match.home.team_id as home_url %}
                        {% url team_detail pk=match.away.team_id as away_url %}

                        {% include "includes/match_list_include_body.html" %}

                        {% endfor %}
                    </tbody>
                </table>

