{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block nav %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/teams">Team list</a></li>
                        <li><a href="/matches">Match list</a></li>
{% endblock %}
{% block content %}
            <div class="page-header">
                <h1>404</h1>
            </div>
            <div class="span6">
                <h2>Not Found</h2>
                <p>The page you're looking for wasn't found.</p>
            </div>
{% endblock content %}
