{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block nav %}
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/teams">Team list</a></li>
                        <li><a href="/matches">Match list</a></li>
{% endblock %}
{% block content %}
            <div class="page-header">
                <h1>About Footie Stats</h1>
            </div>
            <div class="span6">
                <h2>About Footie Stats</h2>
                <p>
                    Footie Stats is a website that provides football statistics
                    for fans that need a quick resource to hand to look up
                    important information.  It seeks to present useful
                    statistics in a clean and easy to read way.
                </p>

                <h2>About Charlie</h2>
                <p>
                    I launched Footie Stats in August 2012. My name is
                    <a href="http://www.ctshepherd.com">Charlie Shepherd</a>,
                    I'm a 3rd year Cambridge University undergraduate studying Computer Science.
                    If you like my work, you can get in touch to hire me to work on your project.
                    <a href="http://www.ctshepherd.com/cv.pdf">My resume</a> is available.
                </p>

                <!--
                <h2>Get in touch!</h2>
                <p>
                    Feel free to leave a comment at <a href="/contact">our contact page</a>, we value all feedback.
                </p>
                -->
            </div>
{% endblock content %}
