<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ match }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/footy.css" rel="stylesheet">

    </head>

    <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">

        <div class="container">

            <section>
            <h1>{{ match.versus }}</h1>
            <h2>{{ match.match_info }}</h2>
            <div class="match">
                <div class="">
                    <div class="row">
                        <span class="span2"><span class="stat">Season: {{ match.season.year }}</span></span>
                        <span class="span2"><span class="stat">Division: {{ match.division }}</span></span>
                        <span class="span3"><span class="stat">Held on: {{ match.match_date }}</span></span>
                        <!--<span class="span2"><span class="stat">Attended by {{ match.attendance }}</span></span>-->
                        <span class="span3"><span class="stat">Refeered by: {{ match.referee }}</span></span>
                    </div>
                    <div class="row">
                        <span class="span2"><span class="stat">Winner: <a href="{% url team_detail pk=match.fulltime_winner.team_id %}">{{ match.fulltime_winner }}</a></span></span>
                        <span class="span2"><span class="stat">Winning at half time: {{ match.halftime_winner }}</span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="show-grid">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Team</th>
                                    <th>Status</th>
                                    <th>Fulltime Goals</th>
                                    <th>Halftime Goals</th>
                                    <th>Shots</th>
                                    <th>Shots on Target</th>
                                    <th>Shots Hit Woodwork</th>
                                    <th>Corners</th>
                                    <th>Fouls</th>
                                    <th>Offsides</th>
                                    <th>Yellows</th>
                                    <th>Reds</th>
                                    <th>Bookings Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for matchstat in match.teams %}
                                {% url team_detail pk=matchstat.team.team_id as team_url %}
                                <tr>
                                    <td><a href="{{ team_url }}">{{ matchstat.team }}</a></td>
                                    <td>{{ matchstat.status|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.fulltime_goals|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.halftime_goals|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.shots|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.shots_on_target|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.hit_woodwork|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.corners|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.fouls|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.offsides|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.yellows|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.reds|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.bookings_points|default_if_none:"Unavailable" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.js"></script>
    <ul class="pager">
        <li><a href="{% url match_detail pk=match.get_previous_by_match_date.match_id %}">{{ match.get_previous_by_match_date }}</a></li>
        <li><a href="{% url match_detail pk=match.get_next_by_match_date.match_id %}">{{ match.get_next_by_match_date }}</a></li>
    </ul>
</div>


</body>
</html>
