{% extends "base.html" %}
{% block title %}{{ match }}{% endblock %}
{% block nav %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/teams">Team list</a></li>
                        <li class="active"><a href="/matches">Match list</a></li>
{% endblock %}
{% block content %}
            <div class="page-header">
                <h1>{{ match.versus }}</h1>
                <h2>{{ match.match_info }}</h2>
            </div>
            <section>
            <div class="match">
                <div class="">
                    <div class="row">
                        <span class="stat">Season: {{ match.season.year }}</span>
                        <span class="stat">Division: {{ match.division }}</span>
                        <span class="stat">Held on: {{ match.match_date }}</span>
                        <!--<span class="span2"><span class="stat">Attended by {{ match.attendance }}</span></span>-->
                        <span class="stat">Refeered by: {{ match.referee }}</span>
                    </div>
                    <div class="row">
                        <span class="stat">Winner: <a href="{% url team_detail pk=match.fulltime_winner.team_id %}">{{ match.fulltime_winner }}</a></span>
                        <span class="stat">Winning at half time: {{ match.halftime_winner }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="show-grid">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Team</th>
                                    <th>Status</th>
                                    <th>Fulltime Goals</th>
                                    <th>Halftime Goals</th>
                                    <th>Shots</th>
                                    <th>Shots on Target</th>
                                    <th>Shots Hit Woodwork</th>
                                    <th>Corners</th>
                                    <th>Fouls</th>
                                    <th>Offsides</th>
                                    <th>Yellows</th>
                                    <th>Reds</th>
                                    <th>Bookings Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for matchstat in match.teams %}
                                {% url team_detail pk=matchstat.team.team_id as team_url %}
                                <tr>
                                    <td><a href="{{ team_url }}">{{ matchstat.team }}</a></td>
                                    <td>{{ matchstat.status|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.fulltime_goals|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.halftime_goals|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.shots|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.shots_on_target|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.hit_woodwork|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.corners|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.fouls|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.offsides|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.yellows|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.reds|default_if_none:"Unavailable" }}</td>
                                    <td>{{ matchstat.bookings_points|default_if_none:"Unavailable" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </section>
{% endblock content %}
