{% extends "base.html" %}

{% block title %}{{ team }}{% endblock %}
{% block nav %}
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/teams">Team list</a></li>
                        <li><a href="/matches">Match list</a></li>
{% endblock %}
{% block content %}
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li><a href="/teams">Teams</a> <span class="divider">/</span></li>
                <li class="active">{{ team }}</li>
            </ul>
            <div class="page-header">
                <!--<img src="/static/img/teams/{{ team.team_id }}-standard.png" class="img-circle pull-right clearfix" style="height:80px width:80px display: block-inline"/>-->
                <h1 style="vertical-align: centre">{{ team }}</h1>
            </div>

            <section>
            <h2>Info</h2>
            <div>
                <ul>
                    {% url league_list league=position.division as league_url %}
                    <li>Current League: <a href="{{ league_url }}">{{ position.get_division_display }}</a></li>
                </ul>
            </div>
            </section>

            <section>
            <h2>Statistics</h2>
            <div>
                <ul>
                    <li>Best win this season:
                        {% if best_win %}
                        <a href="{% url match_detail pk=best_win.match.match_id %}">
                            {{ best_win.match.home.fulltime_goals }}-{{ best_win.match.away.fulltime_goals }} against {{ best_win.opponent.team }}
                        </a>
                        {% else %}
                            No wins this season
                        {% endif %}
                    </li>
                    <li>Worst loss this season:
                        {% if worst_loss %}
                        <a href="{% url match_detail pk=worst_loss.match.match_id %}">
                            {{ worst_loss.match.home.fulltime_goals }}-{{ worst_loss.match.away.fulltime_goals }} against {{ worst_loss.opponent.team }}
                        </a>
                        {% else %}
                            N/A
                        {% endif %}
                    </li>
                    <li>Number of games won: {{ won.count }}</li>
                    <li>Number of games drawn: {{ drawn.count }}</li>
                    <li>Number of games lost: {{ lost.count }}</li>
                    <li>Average yellows: {% if average_yellows %}{{ average_yellows }}{% else %}N/A{% endif %}</li>
                    <li>Worst yellows:
                        {% if worst_yellows %}
                            <a href="{% url match_detail pk=worst_yellows.match.match_id %}">{{ worst_yellows.yellows }}</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </li>
                    <li>Average reds: {% if average_reds %}{{ average_reds }}{% else %}N/A{% endif %}</li>
                    <li>Worst reds:
                        {% if worst_reds %}
                            <a href="{% url match_detail pk=worst_reds.match.match_id %}">{{ worst_reds.reds }}</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </li>
                </ul>
            </div>
            </section>
            <section>
            <h2><a href="{% url team_match_detail pk=team.team_id %}">Recent Matches</a></h2>
            <div class="team">
                {% with matches=recent %}
                {% include "match_list_include_tms.html" %}
                {% endwith %}
            </div>
            </section>
{% endblock content %}
