{% extends "base.html" %}

{% block title %}Teams{% endblock %}
{% block content %}
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Teams</li>
            </ul>
            <div class="page-header">
                <h1>Team List</h1>
            </div>

            <section>
            <div class="span3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                        {% url team_detail pk=team.team_id as team_url %}
                        <tr>
                            <td><a href="{{ team_url }}">{{ team }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </section>
{% endblock %}
