{% extends "base.html" %}

{% block title %}{{ team }} Matches{% endblock %}
{% block nav %}
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/teams">Team list</a></li>
                        <li><a href="/matches">Match list</a></li>
{% endblock %}
{% block content %}
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li><a href="/teams">Teams</a> <span class="divider">/</span></li>
                <li><a href="/team/{{ team.team_id }}">{{ team }}</a> <span class="divider">/</span></li>
                <li class="active">Matches</li>
            </ul>
            <div class="page-header">
                <h1>{{ team }} Matches</h1>
            </div>

            <section>
            <div class="team">
                {% with matches=teams %}
                {% include "match_list_include.html" %}
                {% endwith %}
            </div>
            </section>

            {% include "paginator_include.html" %}
{% endblock %}
