{% extends "base.html" %}

{% block title %}{{ team }}{% endblock %}
{% block content %}
            <h1>{{ team }}</h1>

            <section>
            <h2>Statistics</h2>
            <div>
                <ul>
                    <td>{{ match.home.team }} {{ match.result }} {{ match.away.team }} </td>
                    <li>Best win this season: 
                        <a href="{% url match_detail pk=best_win.match.match_id %}">
                            {{ best_win.match.home.fulltime_goals }}-{{ best_win.match.away.fulltime_goals }} against {{ best_win.opponent.team }}
                        </a>
                    </li>
                    <li>Worst loss this season: {{ worst_loss.match.home.fulltime_goals }}-{{ worst_loss.match.away.fulltime_goals }} against {{ worst_loss.opponent.team }}</li>
                    <li>Number of games won: {{ won.count }}</li>
                    <li>Number of games drawn: {{ drawn.count }}</li>
                    <li>Number of games lost: {{ lost.count }}</li>
                    <li>Average yellows: {{ average_yellows }}</li>
                    <li>Worst yellows: <a href="{% url match_detail pk=worst_yellows.match.match_id %}">{{ worst_yellows.yellows }}</a></li>
                    <li>Average reds: {{ average_reds }}</li>
                    <li>Worst reds: <a href="{% url match_detail pk=worst_reds.match.match_id %}">{{ worst_reds.reds }}</a></li>
                </ul>
            </div>
            </section>
            <section>
            <h2><a href="{% url team_match_detail pk=team.team_id %}">Recent Matches</a></h2>
            <div class="team">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Match</th>
                            <th>Date</th>
                            <th>Home</th>
                            <th>Away</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teammatchstat in recent %}
                        {% with teammatchstat.match as match %}
                        {% url match_detail pk=match.match_id as match_url %}
                        {% url team_detail pk=match.home.team_id as home_url %}
                        {% url team_detail pk=match.away.team_id as away_url %}

                        <tr>
                            <td><a href="{{ match_url }}">{{ match.versus }}</a></td>
                            <td>{{ match.match_date }}</td>
                            <td><a href="{{ home_url }}">{{ match.home.team }}</a></td>
                            <td><a href="{{ away_url }}">{{ match.away.team }}</a></td>
                            <td>{{ match.home.team }} {{ match.result }} {{ match.away.team }} ({{ match.home.fulltime_goals }}-{{ match.away.fulltime_goals }})</td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </section>
{% endblock content %}
