{% extends "base.html" %}

{% block title %}{{ team }}{% endblock %}
{% block content %}
            <div class="page-header">
                <!--<img src="/static/img/teams/{{ team.team_id }}-standard.png" height="140px" width="140px" class="img-circle pull-left clearfix" style="display: inline"/>-->
                <h1>{{ team }}</h1>
            </div>

            <section>
            <h2>Statistics</h2>
            <div>
                <ul>
                    <li>Best win this season:
                        <a href="{% url match_detail pk=best_win.match.match_id %}">
                            {{ best_win.match.home.fulltime_goals }}-{{ best_win.match.away.fulltime_goals }} against {{ best_win.opponent.team }}
                        </a>
                    </li>
                    <li>Worst loss this season: {{ worst_loss.match.home.fulltime_goals }}-{{ worst_loss.match.away.fulltime_goals }} against {{ worst_loss.opponent.team }}</li>
                    <li>Number of games won: {{ won.count }}</li>
                    <li>Number of games drawn: {{ drawn.count }}</li>
                    <li>Number of games lost: {{ lost.count }}</li>
                    <li>Average yellows: {{ average_yellows }}</li>
                    <li>Worst yellows: <a href="{% url match_detail pk=worst_yellows.match.match_id %}">{{ worst_yellows.yellows }}</a></li>
                    <li>Average reds: {{ average_reds }}</li>
                    <li>Worst reds: <a href="{% url match_detail pk=worst_reds.match.match_id %}">{{ worst_reds.reds }}</a></li>
                </ul>
            </div>
            </section>
            <section>
            <h2><a href="{% url team_match_detail pk=team.team_id %}">Recent Matches</a></h2>
            <div class="team">
                {% with matches=recent %}
                {% include "match_list_include.html" %}
                {% endwith %}
            </div>
            </section>
{% endblock content %}
